<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../layouts/head.ejs %>
</head>

<body>
    <%- include ../layouts/header.ejs %>

    <div class="container-fluid">
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="bs-component">
                        <div class="card text-white mb-3">
                            <div class="card-header">Forgot Password</div>
                            <div class="card-body">
                                <form class="forgotPasswordForm" action="/forgot-password" method="post">
                                    <div class="form-group">
                                        <input type="text" name="user_email" id="user_email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Send" id="btnForgotPassword" class="btn btn-primary">
                                        <a class="pull-right" href="/sign-in">Back to Sign In</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <%- include ../layouts/footer.ejs %>
</body>

</html>