.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

.sort {
    display: block;
}

ul.pagination {
    margin-bottom: 0;
}

.card-body .table {
    margin-bottom: 0;
}