<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>NodeExpress</title>
    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/images/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/images/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/images/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/images/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/images/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/images/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/images/icon180.png" sizes="180x180">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
    <link rel="stylesheet" href="/stylesheets/plugins.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/themes.css">
    <link rel="stylesheet" href="/stylesheets/jquery.mentionsInput.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/css/custom.css">
    
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>    
</head>

<body>
    <div id="page-wrapper">
        <div class="preloader themed-background">
            <h1 class="push-top-bottom text-light text-center"><strong>NodeExpress</strong></h1>
            <div class="inner">
                <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie10"></div>
            </div>
        </div>
        <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
            <div id="sidebar">
                <div id="sidebar-scroll">
                    <div class="sidebar-content">
                        <a href="/" class="sidebar-brand">NodeExpress</a>
                        <ul class="sidebar-nav">
                            <li>
                                <a href="/"><i class="gi gi-home sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
                            </li>
                            <li>
                                <a href="/about"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">About</span></a>
                            </li>
                            <li>
                                <a href="/category/"><i class="fa fa-list sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Categories</span></a>
                            </li>
                            <li>
                                <a href="/auth/sign-in"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sign In</span></a>
                            </li>
                            <li>
                                <a href="/auth/sign-up"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Sign Up</span></a>
                            </li>
                            <li>
                                <a href="/auth/forgot-password"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Forgot Password</span></a>
                            </li>
                            <li>
                                 <a href="javascript:void(0);" class="sidebar-nav-menu">
                                    <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                    <i class="gi gi-shopping_cart sidebar-nav-icon"></i>
                                    <span class="sidebar-nav-mini-hide">Users</span>
                                </a>
                                 <ul>
                                     <li><a href="/users/administrators">Administrators</a></li>
                                     <li><a href="/users/teachers">Teachers</a></li>
                                     <li><a href="/users/students">Students</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main-container">
                <div id="page-content">
                    <%- defineContent('bodyContent') %>
                </div>                
            </div>
        </div>
    </div>
    <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>    
    <div id="myloading" style="display:none"><i id="loading-image" class="fa fa-spinner fa-4x fa-spin"></i></div>
</body>

</html>