<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>NodeExpress</title>
    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/images/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/images/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/images/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/images/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/images/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/images/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/images/icon180.png" sizes="180x180">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
    <link rel="stylesheet" href="/stylesheets/plugins.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/themes.css">
    <link rel="stylesheet" href="/stylesheets/jquery.mentionsInput.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/modernizr.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.ui.js"></script>
    <script src="/javascripts/custom/base64.js"></script>
    <script src="/javascripts/custom/common.js"></script>
    <script src="/javascripts/custom/company.js"></script>
    <script type="text/javascript" src="/javascripts/owl.carousel.js"></script>
</head>

<body>
    <div id="page-wrapper">
        <div class="preloader themed-background">
            <h1 class="push-top-bottom text-light text-center"><strong>NodeExpress</strong></h1>
            <div class="inner">
                <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie10"></div>
            </div>
        </div>
        <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
            <div id="sidebar">
                <div id="sidebar-scroll">
                    <div class="sidebar-content">
                        <a href="/" class="sidebar-brand">NodeExpress</a>
                        <ul class="sidebar-nav">
                            <li>
                                <a href="/"><i class="gi gi-home sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
                            </li>
                            <li>
                                <a href="/about"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">About</span></a>
                            </li>
                            <li>
                                <a href="/category/"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Categories</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main-container">
                <div id="page-content">
                    <%- defineContent('bodyContent') %>
                </div>
                <footer class="clearfix" id='foot'>
                    <div class="pull-right">
                        Crafted with <i class="fa fa-heart text-danger"></i> by <a href="javascript:void(0);" target="_blank">Aman</a>
                    </div>
                    <div class="pull-left">
                        <span id="year-copy"></span> &copy; <a href="javascript:void(0);" target="_blank">NodeExpress</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <script src="/javascripts/additional-methods.min.js"></script>
    <script src="/javascripts/underscore-min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-select.js"></script>
    <script src="/javascripts/plugins.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/it.js"></script>
    <script src="/javascripts/custom/login.js"></script>
    <script src="/javascripts/inputTags.jquery.js"></script>
    <script src="/javascripts/pro-theme-backend-app.js"></script>
    <script src="/javascripts/jquery.events.input.js"></script>
    <script src="/javascripts/jquery.elastic.js"></script>
    <script src="/javascripts/jquery.mentiony.js"></script>
    <script src="/javascripts/mentiony.js"></script>
    <script src="/javascripts/bloodhound.min.js"></script>
    <script src="/javascripts/typeahead.jquery.min.js"></script>
    <script src="/javascripts/handlebars.js"></script>
    <div id="myloading" style="display:none"><i id="loading-image" class="fa fa-spinner fa-4x fa-spin"></i></div>
</body>

</html>