<%- contentFor('bodyContent') %>
    <div class="container-fluid">
        <div class="panel panel-info">
            <div class="panel-heading">Dashboard Overview</div>
            <div class="panel-body">
                Here we will list all the statistics of Website!
            </div>
        </div>
    </div>