.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

ul.pagination {
    margin: 0;
}

p.show-summary {
    color: #000;
    font-weight: 600;
    margin: 0;
    padding: 5px 0px;
    line-height: 1.42857143;
}

.sort {
    display: block;
}

#sidebar {
    height: 100%
}

p,
.table,
.alert,
.carousel {
    margin-bottom: 10px;
}

.panel-primary {
    border-color: #2792bf;
}

.panel-primary>.panel-heading {
    background-color: #2792bf;
    border-color: #2792bf;
}

.panel-primary>.panel-heading a {
    color: #fff;
}