<%- contentFor('bodyContent') %>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Single Category
            <a href="/category" class="pull-right"><i class="fa fa-list"></i> Back to Categories</a>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th width="150px;">Name</th>
                    <td><%= category.name %></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        <% if(category.status == 1) { %>
                            <label class="label label-success">Active</label>
                        <% } else { %>
                            <label class="label label-danger">In-active</label>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Created At</th>
                    <td><%= category.created_at %></td>
                </tr>
                <tr>
                    <th>Updated At</th>
                    <td><%= category.updated_at %></td>
                </tr>
            </table>
        </div>
    </div>   