<%- contentFor('bodyContent') %>
    <div class="container-fluid">
        <div class="panel panel-info">
            <div class="panel-heading">About</div>
            <div class="panel-body">
                About Us
            </div>
        </div>
    </div>