<%- contentFor('bodyContent') %>    
    <div class="panel panel-primary">
        <div class="panel-heading">Dashboard Overview</div>
        <div class="panel-body">
            Here we will list all the statistics of Website!
        </div>
    </div>
