@media only screen and (max-width:1855px) {
.Companies-info { padding: 0 5px; }
}
@media only screen and (max-width:1600px) {
.search-block { width: 200px; }
ul.notifi-info li.show-notfic { font-size: 12px; padding: 5px 5px; }
#sync2 .owl-wrapper-outer { margin: 0 -5px 58px; }
}
@media only screen and (max-width:1360px) {
ul.movimentation-info li input.casual-fill { width: 160px; }
ul.movimentation-info li input.customer-fill { width: 120px; }
.add-btn { width: 75px; }
.pro-btn { width: 68px; }
.note-right .save-btn { min-width: 100px; width: 100px; }
}
@media only screen and (max-width:1280px) {
.contact-block { overflow: auto; }
.product-sec .nav > li:first-child > a { margin-left: 0; }
.main-block { padding: 15px 15px; }
.product-sec .nav > li > a { font-size: 12px; padding: 10px 2px; }
.right-block { width: 50%; }
.pic-block { height: 70px; width: 70px; }
.input-block label { font-size: 11px; }
.listing-info .save-btn { width: 125px; }
.input-block input,
.input-block textarea,
.input-block select { padding: 0 5px; font-size: 13px; }
.status-board-rh { margin-left: 75px; }
.profile-page .status-board-lf .pic-block { height: 45px; width: 45px; }
.status-board-lf h3 { font-size: 12px; }
.comment-box button { height: 20px; line-height: 20px; width: 20px; }
.arrow-block img { width: 10px; }
.arrow-block { position: absolute; right: -25px; top: 6px; }
.product-sec .nav-tabs > li:first-child { margin-left: 0; }
}
@media only screen and (max-width:1199px) {
ul.notifi-info li.show-notfic { border-radius: 3px; font-size: 12px; padding: 5px 5px; }
.recent-activity-block { height: 600px; padding-right: 15px; }
.edit-button { margin-left: 5px; }
.pro-edit-btn { background: #6c6c6c url("../images/edit.png") no-repeat scroll 96% center; font-size: 11px; height: 35px; min-width: 140px; }
.pic-block { height: 50px; width: 50px; }
}
@media only screen and (max-width:1024px) {
.edit-product-detail-lf { width: 100%; float: none; margin: 0 0 20px; }
.edit-product-detail-rh { width: 100%; float: none; }
.Companies-info { border-right: none; margin: 0 0 5px; min-height: inherit; padding: 0px; width: 100%; }
.expire-date .date-picker-block { display: block; }
}
@media only screen and (max-width:991px) {
.profile-page-lf,
.profile-page-rh { width: 100%; float: none; }
#main-container { margin-left: 0; }
.left-img { display: none; }
.profile-page-lf,
.profile-page-rh { float: none; width: 100%; padding: 0 15px; margin: 10px 0; }
}
@media only screen and (max-width:767px) {
.Companies_lf { height: 42px; margin-right: 2px; width: 41px; }
.Companies-rh { font-size: 11px; margin-left: 5px; }
.Companies-info { border-right: none; float: none; margin: 0 0 10px; padding: 0px; width: 100%; }
.Companies-rh a { max-width: inherit; }
.account-settings-info .input-block,
.change-password .input-block { margin: 10px 0 0; }
.btm-space { margin: 23px 0 0; }
.date-picker-block { display: block; }
.profile-page-rh,
.edit-product-detail-rh { padding-left: 15px; }
.profile-page-lf,
.edit-product-detail-lf { padding-right: 15px; }
.contact-block table { width: 1000px; }
.right-block { width: 100%; float: none; }
ul.movimentation-info li {  margin-bottom: 5px; }
ul.movimentation-info li {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}
.qty-input, ul.movimentation-info li input.casual-fill, ul.movimentation-info li input.customer-fill, ul.movimentation-info li input.date-fill{ width:100%;}
ul.movimentation-info li .save-btn { width:100%; }
}
@media only screen and (max-width:639px) {
.notifications-left.pull-left { float: none !important; width: 100%; clear: both; }
.notifications-right.pull-right { float: none !important; width: 100%; clear: both; }
ul.notifi-info li { display: block; margin: 0; }
.profile-page .pic-block { height: 70px; width: 70px; }
.edit-button { margin-left: 5px; }
.profile-page .pro-edit-btn { min-width: 150px; text-align: left; padding: 0 10px; }
.save-btn { width: 108px; }
ul.recent-info li { padding: 15px 0; }
.notifications-block .top-view h2 { margin: 0 0 10px; padding: 10px 0 0; }
ul.notifi-info li.show-notfic { max-width: 130px; }
.contact-top-right { width: 100%; float: none !important; }
.search-block { width: 100%; display: block; margin: 10px 0; }
.pic-block { height: 70px; width: 70px; }
.pro-edit-btn { min-width: 150px; }
}
@media only screen and (max-width:479px) {
.nav-tabs > li { float: left; margin-bottom: -1px; width: 50%; }
.listing-info .save-btn { width: 122px; }
.note-left { width: 100%; display: block; }
.note-right { width: 100%; display: block; margin: 10px 0 0; }
.note-right .save-btn { width: 100%; }
}
