@charset "utf-8";
/* CSS Document */

* { margin: 0px; padding: 0px; list-style: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; }
img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ border: none; outline: none; vertical-align: middle; }
a,
a:focus { outline: none; }
a:hover,
a:focus { color: #000; text-decoration: none; }
a { text-decoration: none; text-decoration: none; transition: all 0.2s ease-in-out 0s; -webkit-transition: all 0.2s ease-in-out 0s; }
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; margin: 0; padding: 0; }
h2 { color: #24282a; font-size: 17px; font-weight: 600; margin: 0 0 25px; text-transform: uppercase; }
p { font-size: 13px; }
input,
button { font-size: 14px; border-radius: 0; font-family: 'Roboto', sans-serif; }
html { height: 100%; }
.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
body { font-size: 13px; font-weight: 400; color: rgba(39, 37, 36, 0.8); line-height: 18px; font-family: 'Open Sans', sans-serif; height: 100%; background: #eaedf1; }
ul.breadcrumb-info li { padding: 0; font-size: 13px; display: inline-block; vertical-align: middle; border-left: solid 1px rgba(37,34,32,0.6); padding: 0 10px 0 15px; line-height: 14px; position: relative; }
ul.breadcrumb-info li:first-child { padding: 0 10px 0 22px; border: none; }
ul.breadcrumb-info li a { color: rgba(37,34,32,0.8); }
ul.breadcrumb-info li a span { display: inline-block; left: 0; padding-right: 5px; position: absolute; top: 0px; }
ul.breadcrumb-info li.active a { color: #f77b02; }
ul.breadcrumb-info li a:hover { color: #f77b02; }
.search-block { position: relative; width: 285px; border: solid 1px #e0e0e0; border-radius: 3px; display: inline-block; vertical-align: middle; margin-right: 10px; }
.search-block span { position: absolute; right: 10px; top: 0px; content: ""; height: 33px; line-height: 33px; width: 35px; text-align: center; }
.search-block span:after { position: absolute; right: 0; top: 0; height: 100%; content: ""; border-left: solid 1px #e2e2e2; width: 35px; }
.search-block input { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; color: rgba(37, 34, 32, 0.5); display: block; font-size: 12px; height: 33px; padding: 0 35px 0 15px; text-align: left; width: 100%; }
/*--Endbreadcrumb--*/



.select-block { border: solid 1px #e0e0e0; font-size: 13px; border-radius: 3px; width: 260px; position: relative; display: inline-block; vertical-align: middle; height: 33px; line-height: 33px; text-align: left; }
.calendar-icon { position: absolute; top: 8px; left: 15px; }
.select-block input { display: inline-block; border: none; }
.date-sel { padding: 0 0 0 40px; }
.select-block a { color: rgba(37, 34, 32, 0.8); }
.search-block span { content: ""; height: 33px; line-height: 33px; padding-top: 9px; position: absolute; right: 0; text-align: center; top: 0; width: 35px; cursor: pointer; }
.select-block .dropdown-menu { min-width: 260px; margin: 0; }
.select-block ul.dropdown-menu { margin: 0; }
.select-block ul.dropdown-menu li { padding: 7px 7px; line-height: normal; }
/*--contacts_block--*/
.main-block { background: #ffffff; border: solid 1px #dbe1e8; padding: 15px 25px; }
.top-view h2 { float: left; }
.link { font-size: 12px; text-decoration: underline; color: rgba(39,37,36,0.5); }
.link:hover,
.contact-table tbody td a:hover { color: #f77b02; text-decoration: underline; }
.top-view { border-bottom: 1px solid #eaeaea; margin: 0 0 25px; padding: 0 0 20px; }
.top-view h2 { margin: 0; }
/*--End-contacts_block--*/

/*--mid-section--*/

/*--contacts--*/

.button-block button { margin-right: 10px; }
.button-block button:last-child { margin-right: 0; }
.btn-group { min-width: 115px; border-radius: 3px; border: none; background: #272524; color: #fff; text-align: center; height: 35px; font-size: 13px; font-weight: 500; }
.btn-group:hover,
.btn-group:focus { background: #f77b02; }
.cont-btn { min-width: 135px; }
.contact-table { width: 100% !important; border: solid 1px #e2e2e2; font-size: 14px; }
.contact-table thead th { background: #f5f5f5; font-size: 12px; border-bottom: solid 2px #e2e2e2; padding: 3px 8px; border-left: solid 1px #e2e2e2; color: #17191a; font-weight: 600; text-transform: uppercase; text-align: left; }
.contact-table tbody td { border-bottom: solid 1px #e2e2e2; border-left: solid 1px #e2e2e2; padding: 5px; color: rgba(39,37,36,0.8); font-size: 13px; text-align: left; line-height: 10px; }
.contact-table tbody td a { color: rgba(39,37,36,0.7); text-decoration: underline; }
.contact-table tbody td.mail-id a { text-decoration: none; }
.contact-table tbody tr:hover { background: #f5f5f5; }
.all-btn { position: relative; display: inline-block; vertical-align: middle; margin-right: 20px; }
.contact-block { margin: 30px 0 0; }
.all-btn:after { position: absolute; top: 0; right: 15px; content: ""; background: url(../images/down-arrow.png) no-repeat; width: 9px; height: 6px; top: 50%; margin-top: -3px; }
.all-btn > a { background: #f9f9f9 none repeat scroll 0 0; border: 1px solid #eaedf0; border-radius: 3px; color: #393c3f; display: inline-block; font-size: 12px; padding: 6px 15px; width: 135px; }
ul.info { margin: 0 0px 0 15px; display: inline-block; vertical-align: middle; padding: 7px 0; }
ul.info li { display: inline-block; vertical-align: top; margin-right: 10px; }
ul.info li span { display: inline-block; padding-right: 7px; font-size: 13px; }
ul.info li:last-child { margin-right: 0; }
ul.info li.edit a { color: rgba(37,34,32,0.8); }
ul.info li.delete a { color: #ff0000 }
ul.info li.action a { color: #f77b02; }
.check-box input[type=checkbox].css-checkbox:checked + label.css-label { background-image: url(../images/unchek.png); }
.check-box label.css-label { background-image: url(../images/check.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.check-box input.css-checkbox[type="checkbox"] + label.css-label { font-weight: normal; }
.check-box input.css-checkbox[type="checkbox"] + label.css-label { padding-left: 40px; }
.check-box input[type=checkbox].css-checkbox { position: absolute; z-index: -1000; left: -1000px; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
.check-box input.css-checkbox[type="checkbox"] + label { padding-left: 15px; height: 15px; display: inline-block; line-height: 15px; background-repeat: no-repeat; background-position: 0 0; font-size: 14px; vertical-align: middle; cursor: pointer; font-weight: 700; color: #333; margin: 0; }
.check-box input.css-checkbox[type="checkbox"]:checked + label { background-image: url(../images/unchek.png); }
.check-box label { background-image: url(../images/check.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.padding-lf { padding: 0 10px; }
.padding-rh { padding: 0 10px; }
.no-padding { padding: 0; }
/*--End-contacts--*/

.inner-heading { position: relative; }
.inner-heading h2::after { background: #2792bf none repeat scroll 0 0; border-radius: 3px; bottom: 0; content: ""; height: 4px; left: 0; position: absolute; width: 48px; }
.pic-block { border: 1px solid #e6eaef; display: inline-block; height: 80px; overflow: hidden; vertical-align: middle; width: 80px; }
.edit-button { display: inline-block; vertical-align: middle; margin-left: 25px; }
.tab-content { padding: 40px 0 0px; }
.pro-edit-btn { background: #6c6c6c url(../images/edit.png) no-repeat 93% center; min-width: 165px; font-size: 12px; color: #fff; border-radius: 3px; height: 35px; border: none; }
.product-form { margin: 0px 0 0; }
.product-form .form-group { margin: 0 0 10px; }
.input-block label { display: block; font-size: 13px; font-weight: 600; color: rgba(39,43,45,0.9); margin: 0 0 10px; }
.input-block input,
.input-block textarea,
.input-block select { width: 100%; border: solid 1px #e2e2e2; height: 35px; border-radius: 3px; padding: 0 12px; }
.input-block textarea { min-height: 90px; padding: 10px 5px; resize: none; }
.save-btn { font-size: 12px; color: #fff; width: 135px; height: 40px; border-radius: 3px; border: none; background: #2792bf; }
.save-btn:hover,
.comment-box button:hover,
.comment-box button:focus { background: #3ca5d1; }
.price-info { position: relative; }
.price-info:after { background: #ffffff url("../images/arrow.png") no-repeat scroll 45% center; position: absolute; top: 7px; right: 5px; width: 25px; text-align: center; content: ""; height: 24px; }
.search-block .sel-box { border: none; }
.alphabetically { width: 185px; margin-right: 10px; border: none; }
.product-sec .nav > li > a { color: #17191a; font-size: 13px; font-weight: 600; padding: 10px 12px; position: relative; }
/*--profile-page---*/
.Companies_lf { float: left; height: 41px; margin-right: 0px; overflow: hidden; width: 41px; margin-top: 10px; }
.Companies_lf a img { border-radius: 50%; border: solid 1px #cfcfcf; display: block; }
.Companies-rh { vertical-align: middle; margin: 20px 0 0 45px; }
.Companies-rh p { font-size: 12px; margin: 0; }
.Companies-info { border-right: 1px solid #e2e2e2; float: left; padding: 0 20px; width: 33.3%; margin: 0 0 15px; position: relative; min-height: 77px; }
.Companies-rh a { color: rgba(39, 43, 45, 0.9); }
.Companies-block:after { content: ""; display: block; clear: both; }
.Companies-info:nth-child(3) { border: none; }
.Companies-info:nth-child(1) { padding: 0 20px 0 0; }
.notifications-block { margin: 25px 0 0; }
ul.pagination-info { margin: 0; display: inline-block; }
ul.pagination-info li { display: inline-block; font-size: 12px; color: #586063; padding: 0 5px; }
ul.pagination-info li a { color: #586063; }
ul.pagination-info li a:hover { text-decoration: underline; color: #2792bf; }
.btm-block { margin: 15px 0 0; }
.edit-product-detail-page { margin: 15px 0; }
ul.breadcrumb-info { margin: 0; padding: 12px 0; }
.top-block-wrp { position: relative; z-index: 2; }
ul.breadcrumb-info li { padding: 0; font-size: 12px; display: inline-block; vertical-align: middle; border-left: solid 2px #cecfd1; padding: 0 10px 0 10px; line-height: 14px; position: relative; font-weight: 600; }
ul.breadcrumb-info li:first-child { padding: 0 10px 0 22px; border: none; }
ul.breadcrumb-info li a { color: #17191a; }
ul.breadcrumb-info li a span { display: inline-block; left: 0; padding-right: 5px; position: absolute; top: 0px; }
ul.breadcrumb-info li.active a { color: #2792bf; }
ul.breadcrumb-info li a:hover { color: #2792bf; }
.recent-activity-block { height: 630px; overflow-y: scroll; padding-right: 40px; }
ul.productivity-info { margin: 0 0 40px; padding: 0; }
ul.productivity-info li { border-bottom: solid 1px #e9e9e9; padding: 23px 15px 20px; }
ul.productivity-info li:first-child { padding: 0px 15px 23px 20px; }
.icon-box { float: left; }
.productivity-info:after,
.performance-block:after,
.attachment-info:after { content: ""; display: block; clear: both; }
.productivity-content { margin: 0 0 0 80px; }
.productivity-content p { font-size: 12px; margin: 0 0 5px; }
.productivity-content p strong { font-size: 14px; color: rgba(37,34,32,0.8); text-transform: uppercase; }
ul.productivity-info li .productivity-content a { text-decoration: none; font-size: 12px; font-style: italic; }
.recent-activity { margin: 35px 0; }
.recent-activity-lf > a > span { display: inline-block; padding-left: 10px; }
.activity-txt { margin: 10px 0 0; }
.activity-txt p { color: #252220; margin: 0; }
.user_img_block { float: left; }
.activity-info { margin-left: 60px; }
ul.recent-info { margin: 0; padding: 0; }
ul.recent-info li { padding: 20px 10px; border-bottom: solid 1px #eaeaea; }
ul.recent-info li.active { background: #f1fbff; border-bottom: solid 2px #2792bf; }
.activity-info h4 { color: rgba(24,23,22,0.8); font-size: 14px; font-weight: 600; padding: 4px 0 0; }
.activity-info span { color: #6a6a6a; font-size: 12px; }
ul.notifi-info { margin: 0; }
ul.notifi-info li { display: inline-block; font-size: 12px; margin-right: 0px; }
ul.notifi-info li { margin-left: 10px; display: inline-block; color: #181716; }
ul.notifi-info li.show-notfic { padding: 5px 10px; background: #2792bf; color: #fff; border-radius: 3px; font-size: 14px; }
.change-password .input-block input { height: 48px; background: #fafbfd; border: solid 1px ececec; font-size: 13px; color: rgba(30, 33, 34.0.5); }
.pas-block { margin: 30px 0 20px; }
.profile-page .pic-block { width: 93px; height: 93px; border: solid 3px #e8e8e8; border-radius: 50%; }
.profile-page .pro-edit-btn { background: #2792bf url("../images/edit-white.png") no-repeat scroll 93% center; }
.profile-page .pro-edit-btn:hover { background: #6c6c6c url("../images/edit-white.png") no-repeat scroll 93% center; }
.cancel-btn { background: none; border: solid 1px #2792bf; color: #2792bf; margin-left: 10px; }
.account-settings-info .input-block input,
.account-settings-info .input-block textarea { height: 48px; border-radius: 0; }
.account-settings-info .input-block textarea { min-height: 100px; }
.account-settings-info .form-group { margin-bottom: 30px; }
.account-settings-info { margin: 35px 0 0; }
.cancel-btn:hover { border: solid 1px #999; color: #999; }
.notifications-block .top-view h2 { margin: 0; padding: 10px 0 0; }
.movimentation-block { margin: 10px 0; }
#main-container { margin-left: 200px; }
.left-img { left: 0; position: absolute; top: 0; width: 200px; }
/*--End-profile-page---*/

.contact-table thead th:last-child,
.contact-table tbody td:last-child { padding: 13px 5px; text-align: center; width: 20px; }
.code { border-right: 1px solid #e2e2e2; display: inline-block; line-height: 15px; margin-right: 5px; padding-right: 5px; }
.contact-table thead th:nth-child(1) { text-align: left; }
.code-top-heading { border-right: 1px solid #000000; display: inline-block; line-height: 1; margin-right: 5px; padding-right: 5px; }
.right-block { float: right; width: 40%; }
.contact-table tbody td:first-child a { text-decoration: none; }
.contact-table tbody td:first-child a:hover,
.contact-table tbody tr:hover a { color: #2792bf; text-decoration: underline; }
/*--product-detail-2--*/
.product-infor-wrp .form-group { margin: 0 0 20px; }
.product-infor-wrp .input-block textarea { min-height: 110px; }
.card-img { border: 1px solid #e6eaef; margin-bottom: 20px; position: relative; text-align: center; }
.img-one { border: 2px solid #e6eaef; border-radius: 2px; margin: 0 5px; text-align: center; padding: 10px 15px; }
.img-one:hover { border: solid 2px #2792bf; }
#sync2 .owl-wrapper-outer { margin:0 -5px 45px; }
.weekely-statistics-block h3 { font-size: 14px; color: #2792bf; text-align: center; margin: 10px 0 0px; }
.weekely-statistics-block ul { margin: 25px 0 20px; padding: 0; }
.weekely-statistics-block ul li { float: left; width: 33.33%; font-size: 13px; font-weight: 600; }
.weekely-statistics-block ul li span { display: block; margin: 0 0 5px; color: rgba(23,25,26,0.5); }
.weekely-statistics-block ul:after { content: ""; display: block; clear: both; }
.profile-page:after { clear: both; content: ""; display: block; }
.profile-page-lf,
.edit-product-detail-lf { padding:0 5px; }
.profile-page-rh,
.edit-product-detail-rh { padding:0 5px; }
.top-view h2 span { display: inline-block; font-size: 15px; color: #96999b; text-transform: none; padding-left: 10px; }
.top-space { margin: 10px 0 0; }
.note-left { width: 66.6667%; float: none; display: inline-block; vertical-align: bottom; }
.note-right { width: 32.333%; float: none; display: inline-block; vertical-align: bottom; text-align: right; }
.note-right .save-btn { min-width: 150px; }
.profile-page-wrp .notifications-block { margin: 0; }
.input-fill { border: 1px solid #e2e2e2; border-radius: 3px; height: 30px; padding: 0 15px; font-size: 13px; width: 108px; }
.date-picker-block { display: inline-block; position: relative; }
.date-picker-block > span { position: absolute; right: 10px; top: 10px; }
.edit-info a { width: 20px; height: 20px; line-height: 10px; display: inline-block; margin-left: 5px; background: #000; border-radius: 50%; padding: 4px 0 0; text-align: center; }
.edit-info a.edit { background: #2792bf; }
.edit-info a.delete { background: #ef8a80; }
.profile-page-wrp .contact-table thead th:last-child,
.profile-page-wrp .contact-table tbody td:last-child { padding: 10px 5px; text-align: left; width: inherit; }
.fill2 { width: 310px; }
.qty-input { width: 51px; }
ul.movimentation-info { margin: 20px 0 0; }
ul.movimentation-info li { display: inline-block; vertical-align: bottom; margin-right: 10px; }
ul.movimentation-info li input { border: 1px solid #e2e2e2; border-radius: 3px; height: 38px; padding: 0 15px; }
ul.movimentation-info li label { color: rgba(39, 43, 45, 0.9); display: block; font-size: 13px; font-weight: 600; margin: 0 0 10px; }
ul.movimentation-info li .date-picker-block > span {  position: absolute;
  right: 13px;
  top: 6px;
 }
.add-btn { width: 115px; }
ul.movimentation-info li input.customer-fill { width: 190px; }
ul.movimentation-info li input.date-fill { width: 108px; }
ul.movimentation-info li input.casual-fill { width: 270px; }
.pro-btn { width: 130px; }
ul.movimentation-info li:last-child { margin-right: 0; }
.row-five { width: 46%; }
.product-sec .nav-tabs > li:first-child { margin-left: 20px; }
.left-padding { padding: 0 5px; }
.right-padding { padding: 0 5px; }
.pro-btn-wrp .add-btn { width: 24%; }
.product-sec .tab-content { padding: 20px 0; }
.edit-product-pic-block { margin: 0 0 15px; }
.status-board-lf { float: left; }
.status-board-rh { margin-left: 85px; }
.status-board-rh h4 { font-size: 14px; font-weight: normal; text-decoration: underline; }
.status-board-rh h4 a { color: rgba(100,100,100,0.9); }
.status-board-rh h4 a span { color: #2792bf; font-weight: 700; text-decoration: underline; }
.status-board-rh p { margin: 10px 0; font-size: 13px; line-height: 19px; }
.status-board-rh p span { color: #2792bf; font-style: italic; }
.profile-page .status-board-lf .pic-block { height: 55px; width: 55px; }
.status-board-lf h3 { color: rgba(140,140,140,0.9); font-size: 13px; font-weight: 600; font-style: italic; margin: 5px 0 0; }
.comment-area { border: 1px solid #e2e2e2; border-radius: 3px; float: left; margin-right: 10px; padding: 0 5px 0 33px; position: relative; }
.comment-area textarea { border: none; width: 100%; resize: none; height: 35px; padding: 5px 10px 5px 0; }
.comment-area span { left: 10px; position: absolute; top: 9px; }
.comment-box button { width: 25px; height: 25px; border-radius: 50%; background: #2792bf; display: block; line-height: 25px; border: none; }
.arrow-block { position: absolute; right: -35px; top: 3px; }
.comment-box { position: relative; }
.status_block { border-bottom: solid 1px #eaeaea; padding: 0 0 20px; margin: 0 0 20px; }
.status_block:last-child { border: none; margin: 0; }
.status-sec { margin: 10px 0 0; }
.product-deatl-slider { }
.production-block ul.movimentation-info { margin: 20px 0 25px; }
ul.detail-info { padding: 0; text-align: center; position: absolute; top: 50%; margin-top: -11px; left: 0; right: 0; width: 100%; display: none; }
ul.detail-info li { display: inline-block; width: 22px; height: 22px; background: #464646; margin-right: 5px; font-size: 11px; }
ul.detail-info li:hover { background: #2792bf; }
.img-one { position: relative; }
.img-one:hover ul.detail-info { display: block; }
ul.detail-info li:last-child { margin-right: 0; }
.img-one:hover ul.detail-info { display: block; }
.dark_grey { background: #f5f5f5; padding: 15px; margin: 0 0px 15px; } 
.listing-info ul.info { margin: 0; }
.listing-info ul.info li { position: relative; font-size: 13px; font-weight: 600; color: rgba(39, 37, 36, 0.9); margin: 0 0 5px; padding: 0 0 0 20px; display: block; }
.listing-info ul.info li span { position: absolute; top: 4px; left: 0; content: ""; }
.list-doc h3,
.list-pro-block h3 { font-size: 13px; font-weight: 600; }
.list-doc ul.info li { padding: 0; }
.list-pro-block h3 { margin: 0 0 10px; }
.list-pro-block table { }
.list-pro-block .contact-table thead th:last-child,
.contact-table tbody td:last-child { width: inherit; }
.check-block label { margin: 0; display: inline-block; }
.input-block.check-block { margin: 35px 0 0; }
.input-block.check-block input { display: inline-block; height: inherit; width: inherit; }
.check-block label { display: inline-block; margin: 0; padding-left: 15px; }
.list-pro-block { margin: 0 0px 15px; }
.expire-date table { width: 100%; }
.expire-date thead th { padding: 0 5px 10px; }
.expire-date thead th:first-child,
.expire-date tbody td:first-child { padding: 0 5px 0 0; }
.expire-date tbody td { padding: 5px; }
.expire-date tbody td label { margin: 0; }
.list-doc ol { margin: 10px 0 0px;  list-style-type:decimal; }
.list-doc ol li { font-size: 13px; color: rgba(39, 37, 36, 0.9); margin: 0 0 5px; padding: 0px; display: block; }
.list-doc ol li span { color: #1f99d5; }
.list-doc ol li strong { font-weight: 600; font-style: italic; }
.listing-info .cancel-btn:hover { border:1px solid #999999;  color:#fff; }



.cancel-txt a{ color:rgba(255,0,0,1); margin:10px 0; display:inline-block;}
.cancel-txt a:hover{ color:#2792bf;}

.common-top-sec .dataTables_wrapper > div {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  margin: 0 -15px;
}

.product-popup .dataTables_wrapper > div {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  margin: 0 -15px;
}
.product-popup input[type="search"]{ border: 1px solid #e0e0e0; border-radius:3px; height: 35px; padding: 0 12px; width: 285px; right: 0px;}
/*--product-detail-2--*/


.common-top-sec .pagination > .active > a, .common-top-sec .pagination > .active > span, .common-top-sec .pagination > .active > a:hover, .common-top-sec .pagination > .active > span:hover, .common-top-sec .pagination > .active > a:focus, .common-top-sec .pagination > .active > span:focus {background-color: transparent;}
.common-top-sec .pagination > .active > a, .common-top-sec .pagination > a{ font-size:12px; color: #586063; }
.common-top-sec .pagination > .disabled > span, .common-top-sec .pagination > .disabled > span:hover, .common-top-sec .pagination > .disabled > span:focus, .common-top-sec .pagination > .disabled > a, .common-top-sec .pagination > .disabled > a:hover, .common-top-sec .pagination > .disabled > a:focus {  background-color: #ffffff;  border-color: #dddddd;  color: #586063;  cursor: not-allowed;  font-size: 7px;  line-height: 20px;}
.common-top-sec .pagination > li > a, .common-top-sec .pagination > li > span {  border-radius:0px;  color: #586063;  margin-left: 0;  margin-right: 0; line-height: normal;  padding: 0 5px;}
.common-top-sec input[type="search"]{ border: 1px solid #e0e0e0; border-radius:3px; height: 35px; padding: 0 12px; width: 285px;}
.pagination > li.active a:hover{ color: #2792bf;    text-decoration: underline;}	

/*--5july--*/

.pro-composed{ margin:10px 0 20px;}
.fill-three{ width:100%;}
.pro-composed .contact-table thead th:nth-child(1) {  width: 69%;}
.pro-composed .contact-table tbody tr.total{ background:#f5f5f5;}
.pro-composed .contact-table tbody tr.total td{ padding:12px 8px;   font-weight: 600;}
.um-sel select{ width:90px;}
.pro-add-btn{ width:140px;}
.steel-block{ width:395px;}
ul.movimentation-info li input.casual-fill{ width:100%;}
.cancel-txt a{ color:rgba(255,0,0,1); margin:10px 0; display:inline-block;}
.cancel-txt a:hover{ color:#2792bf;} 
.contact-table thead th.status-row{ width:105px;}
.blank-tr{ height:50px;}
.payment-info{ margin:15px 0 0;}
ul.info-txt{ margin:0; padding:0;}
ul.info-txt li{ position:relative; padding:0 0 0 19px; margin:0 0 10px; color:rgba(39, 37, 36, 0.8);}
ul.info-txt li span{ position:absolute; top:0; left:0;}
.input-filed{ border:1px solid #e2e2e2; border-radius:3px; height:35px; padding:0 12px; width:55px; margin:-7px 5px; }
.remove-payment-wrp a{ padding-left:15px;}

.common-top-sec .pagination > .active > a, .common-top-sec .pagination > .active > span { background-color:transparent; }
.common-top-sec .pagination > .active > a:hover, .common-top-sec .pagination > .active > span:hover, .common-top-sec .pagination > .active > a:focus, .common-top-sec .pagination > .active > span:focus{ color: #586063; text-decoration:underline;}
.category-table table{ width:100%;}
.category-table table td{ font-size:14px; font-weight:600; border-left:solid 1px #e2e2e2; border-bottom:solid 1px #e2e2e2; padding:10px; color:rgba(39, 37, 36, 0.7);}
.category-table table td:nth-child(2){ width:55px;}
.category-table.sub-category-wrp table td:nth-child(2), .category-table.sub-category-wrp table td:nth-child(3) { width:65px;}
.category-table table td a{color:rgba(39, 37, 36, 0.7);}
.category-table table td a:hover{ color:#2792bf;}
.category-table table td:first-child{ border-left:none;}
.category-table{ margin:0 0 35px; }
.category-block input{ width:80%; margin-right:10px; height:40px;}
.add-sub-category{ margin:15px 0; border-top:1px solid #e2e2e2; padding:15px 0 0;}
.save-change-box:after{ content:""; display:block; clear:both;}
.contact-table tfoot tr.add-new-row{ background:#f5f5f5; text-align:left;}

/*--wallet--*/
.contact-table tfoot td a.add-new-btn{ font-size:12px; color:#2792bf;  position:relative; display:inline-block; padding:0 0 0 15px;}
.contact-table tfoot td a.add-new-btn:before{ position:absolute; top:5px; background:url(../images/add_plus.png) no-repeat;  width:9px; height:9px; content:""; left:0;}
.home-banking-info{ background:#f5f5f5; padding:25px; margin:20px -25px;}
.home-banking-info h3{ color:rgba(39, 43, 45, 0.9); font-size:13px; font-weight: 600; margin:0 0 15px;}
.other-wrp{ padding:0 0 30px;}
.category-table table tr.sub-head td{ font-size:14px; font-weight:600; color:#24282a;}
/*--End-wallet--*/


/*--invoice-detail-address--*/
.invoice-block{ background:#f5f5f5; border:solid 1px #dbe1e8; padding:25px 30px;}
.invoice-lf > .input-block > input{ width:305px; margin-right:15px;}
.sel-customer {  height:35px;  width:155px; position:relative; }
.invoice-lf{ padding-left:0;}
.invoice-rh{ padding-right:0;}
ul.invoice-info{ margin:0; text-align:right;}
ul.invoice-info li{ display:inline-block; vertical-align:top; margin-right:10px; text-align:left;}
ul.invoice-info li .input-block input{  width: 125px;}
ul.invoice-info li:last-child{ margin-right:0;}
.tab-section{ margin:35px 0;}
.tab-mid-lf{ padding-left:0;}
.tab-mid-rh{ padding-right:0;}
.tab-mid-block h4{ font-size:14px; color:#272b2d; font-weight:600; text-transform:uppercase; border-bottom:solid 1px #dbe1e8; padding:0 0 15px; margin:0 0 25px;}
.no-padding-lf{ padding-left:0; padding-right:8px;}
.no-padding-rh{ padding-right:0; padding-left:8px;}
.amount-block{ position:relative;}
.net-price {
  background: rgba(164, 164, 164, 0.1) none repeat scroll 0 0;
  height: 100%;
  padding: 25px 30px 15px;
  position: absolute;
  right: 0;
  top: 0;
  width: 360px;
}
.net-price-sec{ position:static;}
.total-amount{ background:#fefcfc; border:solid 1px #dbe1e8; padding:15px 15px; text-align:center; font-size:15px; color:#2792bf; font-style:italic; font-weight:600; margin:15px 0 0; text-transform:uppercase; }
.amount-box{  font-style:italic; margin:0 0 10px;}
.amount-lf{  width:55%; text-align:right; display:inline-block; vertical-align:middle; font-size:16px; color:#1e2122;}
.amount-rh{ padding:0 25px; width:43%; display:inline-block; vertical-align:middle; font-size:15px; color:rgba(39, 37, 36, 0.9);}
.amount_total .amount-rh{ border-top:solid 1px #d7d7d7; padding:10px 10px 0; font-size:17px; font-weight:600; width:51%; float:right;}

.tab-section .nav-tabs > li > a{ border:solid 1px rgba(0, 0, 0, 0.13); background:#f5f5f5; font-size:13px; color:#17191a; font-weight:600; margin-right:5px; padding:5px 17px;    position: relative;  }
.tab-section .nav-tabs > li.active > a, .tab-section .nav-tabs > li.active > a:focus, .tab-section .nav-tabs > li.active > a:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #2792bf;
  border-color: #2792bf #2792bf rgba(0, 0, 0, 0);
  color: #fff;
    transition: all 0.5s ease 0s;
	/*top:-2px;*/
    position: relative;
    transition: all 0.5s ease 0s;

}
.note-content h3{ font-size:13px; font-weight:600; color:rgba(39, 43, 45, 0.9); margin:0 0 10px;}
.note-content-block{ border:solid 1px #e2e2e2; padding:20px 70px 20px 20px;}
.note-content-block p{ font-size:13px; line-height:20px; color:rgba(39, 43, 45, 0.6);}
.save_btn-wrp{ margin:20px 0 0;}
.input-block.comment-sec textarea{ min-height:54px; padding:10px;}
.no-space{ margin:0;}
.options-info ul.info-txt{ margin:20px 0 0;}
.options-info ul.info-txt li{ font-size:14px;}
.options-info .date-picker-block input{ width:105px;}
.sel-month{ display:inline-block; width:105px; margin:-10px 10px;}
.input-block.sel-month select{ padding:0 5px;}
.pro-row-one{ width:7%;}
.pro-row-two{ width:43%; }
.pro-row-three{ width:6%;}
.pro-row-four{width:8%;}
.pro-row-five{width:10%;}
.pro-row-six{width:7%;}
.pro-row-saven{width:8%;}
.pro-row-eight{width:6%;}
.pro-row-nine{}
.productlist_sec .input-fill{ width:100%;}
.productlist_sec .contact-table thead th:last-child{ width:2% !important;}
.productlist_sec .contact-table tfoot tr.add-new-row{ color:#17191a; font-weight:600;}
.payment_sec .productlist_sec .input-fill.date-info{ width:105px;}
.payment_sec .productlist_sec .input-fill.amt-filed{ width:75px;}
.payment_sec .productlist_sec .input-fill.wallet-filed{ width:100px;}
.payment_sec .input-block select { width:95px;}
.payment_sec .input-block.type-payment-sel select{ width:100%;}
ul.pay-info{ margin:15px 0;}
ul.pay-info li{ display:inline-block; border-right: 1px solid #e2e2e2; padding:0 10px; font-size:14px; font-style:italic;}
ul.pay-info li span{ font-weight:600; font-style:normal;}
ul.pay-info li:last-child{ border:none; padding:0 0px 0 10px;}
.remaining-pay p{ font-style:italic; font-size:15px; color:#27ae60; font-weight:600; text-align:right;}
.red-link{ text-align:center; width:130px;}
.tab-add-btn:hover .search-product-popup { display:block;}
.tab-add-btn { position:absolute;  right:0;  top:-20px;}
.tab-wrp{ position:relative;}
.search-pro-btn{ display:inline-block; width:136px; height:inherit; padding:10px; background:rgba(44,49,51,0.8); text-align:center;}
.search-pro-btn:hover{ background:#333; color:#fff;}
.productlist_sec .input-block > select{ height:29px;}                                                
/*--End-invoice-detail-address--*/

/*--select-customer-popup--*/
.select-customer-popup {
  display: none;
  position: absolute;
  right:-155px;
  top: -105px;
  width: 540px; z-index:99; text-align:left;
}
.cus_butn_wrp:hover .select-customer-popup{ display:block;}
.select-customer-popup:after{ content:""; left:-14px; top:140px; width:14px; height:18px; position:absolute; background:url(../images/arrow-left.png) no-repeat;}
.select-customer-popup h3, .search-product-top-sec h3{ color:#2792bf; font-weight:600; font-size:14px; padding:0; margin:0 0 15px; border-bottom:none;}
.new-customer_block {
  border-bottom: 1px solid #dbe1e8;
  margin: 0 0 15px;
  padding: 0;
}
.select-customer-popup .no-padding{ padding:0 10px; text-align:left;}
.select-customer-popup .new-customer h3  {
  display: inline-block;
  padding:0 0 0 10px;
  vertical-align: middle; margin:0px;
}
.search-by-name .search-product-top-sec h3{ margin:0; padding:0;}
.select-customer-popup .new-customer input[type="radio"] {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.search-by-name span{ display:inline-block; margin:0; vertical-align:middle;  padding-right: 10px;}
.search-button{ background:#2792bf; width:45px; height:35px; border:solid 1px transparent; text-align:center; border-radius:3px; vertical-align:top;}
.search-by-name .input-block select { display: inline-block;  width: 82%;  margin-right:10px; }
/*--select-customer-popup--*/

/*--search-product-popup--*/
.search-product-popup {
  display: none;
  position: absolute;
  right: 90px;
  top: -102px;
  width: 860px; z-index:999;
}
.search-product-popup:after{ content:""; right:-14px; top:113px; width:14px; height:18px; position:absolute; background:url(../images/popup-right-arrow.png) no-repeat;}
.code-fill{ width:65px;}
.search-product-popup .save-change-box{ margin:15px 0;}
.search-product-top-sec{  border-bottom: 1px solid #dbe1e8; margin:0 0 20px; }
.search-product-top-sec h3{ border:none; padding:10px 0; margin:0 0 10px;}
.search-product-top-sec .search-block{width:180px;}
.cus_butn_wrp{ display:inline-block;}
/*--End-search-product-popup--*/

.radio-block{ display:inline-block; vertical-align:middle; width:15px;}
.new-customer_block input[type="radio"]{ display:inline-block; width:auto; margin-right:10px;}
.search-by-name input[type="radio"]{display:inline-block; width:auto; vertical-align:middle; margin-right:10px;}



/* extra css for invoice product item table   */

.contact-table tfoot td {
    border-bottom: solid 1px #e2e2e2;
    border-left: solid 1px #e2e2e2;
    padding: 7px;
    color: rgba(39,37,36,0.8);
    font-size: 13px;
    text-align: left;
    line-height: normal;
}

/*--15july--*/
.wallet-page .contact-table thead th:nth-child(1) {  width: 45%; }
.input-block textarea.address-invoice-textarea {  min-height:35px;  resize:none;}
.productlist_sec .form-control.product_item_description { height: 35px;  resize:none;}
/*--end-15july--*/