<%- contentFor('breadcrumbContent') %>
    <!-- BREADCRUMB -->
    <%- include('../partials/breadcrumb', { title: 'Log In' }) %>

<%- contentFor('pageContent') %>	
    <section class="contact">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <div class="section-title title-ex1">
                        <h2 class="">Log In!</h2>
                        <p>You can log in with your credentials.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <form class="">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="password" class="form-control" id="exampleInputEmail" placeholder="Password">
                            </div>
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-lg btn-primary ml-auto">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>       