 <!-- Error Container -->
 <%- contentFor('errorContent') %>
<div id="error-container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1 class="animation-pulse"><i class="fa fa-exclamation-circle text-warning"></i> 500</h1>
            <h2 class="h3">Oops, internal server error occured<br><br/><a href="/">Back to Home</a></h2>
        </div>
    </div>
</div>