<section class="countup-section countUp counter2 bg-sand">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <!-- single info counter -->
                <div class="info text-center info-count info-boxed">
                    <div class="icon icon-circle">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    </div>
                    <div class="count_block">
                        <div class="counter">642</div>
                        <p class="count-text">Completed Projects</p>
                    </div>
                </div>
                <!-- single info counter ends -->
            </div>
            <div class="col-md-6 col-lg-3">
                <!-- single info counter -->
                <div class="info text-center info-count info-boxed">
                    <div class="icon icon-circle">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="count_block">
                        <div class="counter">246</div>
                        <p class="count-text">Employeers</p>
                    </div>
                </div>
                <!-- single info counter ends -->
            </div>
            <div class="col-md-6 col-lg-3">
                <!-- single info counter -->
                <div class="info text-center info-count info-boxed">
                    <div class="icon icon-circle">
                        <i class="icon-cup" aria-hidden="true"></i>
                    </div>
                    <div class="count_block">
                        <div class="counter">3456</div>
                        <p class="count-text">Coffee Cups</p>
                    </div>
                </div>
                <!-- single info counter ends -->
            </div>
            <div class="col-md-6 col-lg-3">
                <!-- single info counter -->
                <div class="info text-center info-count info-boxed">
                    <div class="icon icon-circle">
                        <i class="icon-user" aria-hidden="true"></i>
                    </div>
                    <div class="count_block">
                        <div class="counter">431</div>
                        <p class="count-text">Happy Clients</p>
                    </div>
                </div>
                <!-- single info counter ends -->
            </div>
        </div>
    </div>
</section>