<section class="home-feature">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="section-title text-center title-ex1">
                    <h2>What we do</h2>
                    <p>Inventore cillum soluta inceptos eos platea, soluta class laoreet repellendus imperdiet optio.</p>
                </div>
            </div>
        </div>
        <div class="service-ex1">
            <div class="row">
                <div class="col-lg-4">
                    <!-- single info block -->
                    <div class="info text-center">
                        <div class="icon icon-circle">
                            <i class="icon-pencil"></i>
                        </div>
                        <h5 class="info-title">UI/UX Design</h5>
                        <div class="description">
                            <p class="description">Fugit anim consectetuer leo temporibus lectus felis Excepteur consectetuer ac repellendus quidem unde odio nisl.</p>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-lg-4">
                    <!-- single info block -->
                    <div class="info text-center">
                        <div class="icon icon-circle">
                            <i class="icon-layers" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Great Usability</h5>
                            <p class="description">Fugit anim consectetuer leo temporibus lectus felis Excepteur consectetuer ac repellendus quidem unde odio nisl.</p>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
                <div class="col-lg-4">
                    <!-- single info block -->
                    <div class="info text-center">
                        <div class="icon icon-circle">
                            <i class="icon-support" aria-hidden="true"></i>
                        </div>
                        <div class="description">
                            <h5 class="info-title">Premium Support</h5>
                            <p class="description">Fugit anim consectetuer leo temporibus lectus felis Excepteur consectetuer ac repellendus quidem unde odio nisl.</p>
                        </div>
                    </div>
                    <!-- single info block ends -->
                </div>
            </div>
        </div>
    </div>
</section>