<section class="bg-sand hero-block home-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="section-title title-ex1">
                    <h2 class="title-text">About Us</h2>
                </div>
                <p class="description">
                    Metus! Repellat itaque atque sagittis lectus, volutpat necessitatibus praesentium vestibulum atque quidem quaerat sapien. Ex dui aliqua orci dictum integer! est elit. Ipsam numquam. Accumsan explicabo vulputate quam aspernatur platea inventore iure vel ante,
                </p>
                <p class="description">
                    Lectus faucibus, ex eveniet! Lacus ipsum repellendus habitasse malesuada dictum dolorem purus iure congue quibusdam! Rutrum, hic itaque. Irure nihil! Ducimus? Primis rem.
                </p>
                <a href="page-aboutus.html" class="btn btn-default btn-primary">Read More</a>
            </div>
            <div class="col-md-6 ">
                <div class="promo-video bg-image" style="background-image: url('front/img/about-promo.jpg');">
                    <div class="video-button video-box">
                        <a href="javascript:void(0)">
                    <i class="fa fa-play play-icon" aria-hidden="true" data-video="https://www.youtube.com/embed/g3-VxLQO7do?autoplay=1"></i>
                    <span class="hide">Watch Video</span>
                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>