<section class="home-portfolio">
    <div class="container ">
        <!-- section title -->
        <div class="row justify-content-md-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="section-title text-center title-ex1">
                    <h2>Our Portfolio</h2>
                    <p>Inventore cillum soluta inceptos eos platea, soluta class laoreet repellendus imperdiet optio.</p>
                </div>
            </div>
        </div>
        <!-- section title ends -->
    </div>
    <div class=" container-fluid ">
        <div class="row">
            <div class="catagory col-12 justify-content-center">
                <ul id="filters">
                    <li class="button is-checked active" data-filter=".all">
                        <a href="#">See All</a>
                    </li>
                    <li class="button " data-filter=".ui-design">
                        <a href="#">UI Design </a>
                    </li>
                    <li class="button " data-filter=".branding">
                        <a href="#">Branding</a>
                    </li>
                    <li class="button " data-filter=".photography">
                        <a href="#">Photography</a>
                    </li>
                    <li class="button " data-filter=".web-design">
                        <a href="#">Web Design</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- gallery details row -->
        <div class="row no-gutters portfolio_grid">
            <div class="col-lg-3 col-sm-6 element all branding">
                <div class="card">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full" src="front/img/portfolio/p1.jpg" />
                            <div class="hover-overlay effect-scale">
                                <div class="overlay-content">
                                    <a href="portfolio-project-details.html" class="icon icon-circle">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="front/img/portfolio/p1.jpg" data-fancybox="images" class="icon icon-circle">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                    <a href="portfolio-project-details.html">
                                        <h6 class="overlay-title">Artworks Graphic Design</h6>
                                    </a>
                                    <span>Branding</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 element all ui-design">
                <div class="card">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full" src="front/img/portfolio/p2.jpg" />
                            <div class="hover-overlay effect-scale">
                                <div class="overlay-content">
                                    <a href="portfolio-project-details.html" class="icon icon-circle">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="front/img/portfolio/p2.jpg" data-fancybox="images" class="icon icon-circle">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                    <a href="portfolio-project-details.html"><h6 class="overlay-title">Praesentium Harum Ipsam</h6></a>
                                    <span>UI Design</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  element all web-design">
                <div class="card">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full" src="front/img/portfolio/p3.jpg" />
                            <div class="hover-overlay effect-scale">
                                <div class="overlay-content">
                                    <a href="portfolio-project-details.html" class="icon icon-circle">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="front/img/portfolio/p3.jpg" data-fancybox="images" class="icon icon-circle">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                    <a href="portfolio-project-details.html"><h6 class="overlay-title">Premera Support Agency</h6></a>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  element all ui-design web-design">
                <div class="card">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full" src="front/img/portfolio/p4.jpg" />
                            <div class="hover-overlay effect-scale">
                                <div class="overlay-content">
                                    <a href="portfolio-project-details.html" class="icon icon-circle">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="front/img/portfolio/p4.jpg" data-fancybox="images" class="icon icon-circle">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                    <a href="portfolio-project-details.html"><h6 class="overlay-title">Trusty Consultancies</h6></a>
                                    <span>web design</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  element all photography branding">
                <div class="card">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full" src="front/img/portfolio/p5.jpg" />
                            <div class="hover-overlay effect-scale">
                                <div class="overlay-content">
                                    <a href="portfolio-project-details.html" class="icon icon-circle">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="front/img/portfolio/p5.jpg" data-fancybox="images" class="icon icon-circle">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                    <a href="portfolio-project-details.html"><h6 class="overlay-title">Consectetur Adipisicing Elit</h6></a>
                                    <span>photography</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  element all ui-design web-design">
                <div class="card">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full" src="front/img/portfolio/p6.jpg" />
                            <div class="hover-overlay effect-scale">
                                <div class="overlay-content">
                                    <a href="portfolio-project-details.html" class="icon icon-circle">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="front/img/portfolio/p6.jpg" data-fancybox="images" class="icon icon-circle">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                    <a href="portfolio-project-details.html"><h6 class="overlay-title">Blanditiis Error Modi</h6></a>
                                    <span>UI design</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  element all photography branding">
                <div class="card">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full" src="front/img/portfolio/p7.jpg" />
                            <div class="hover-overlay effect-scale">
                                <div class="overlay-content">
                                    <a href="portfolio-project-details.html" class="icon icon-circle">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="front/img/portfolio/p7.jpg" data-fancybox="images" class="icon icon-circle">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                    <a href="portfolio-project-details.html"><h6 class="overlay-title">Cumque Impedit Dolorem </h6></a>
                                    <span>Branding</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  element all ui-design branding photography">
                <div class="card">
                    <div class="card_img">
                        <a href="#">
                            <img class="img-full" src="front/img/portfolio/p8.jpg" />
                            <div class="hover-overlay effect-scale">
                                <div class="overlay-content">
                                    <a href="portfolio-project-details.html" class="icon icon-circle">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="front/img/portfolio/p8.jpg" data-fancybox="images" class="icon icon-circle">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                    <a href="portfolio-project-details.html"><h6 class="overlay-title">Reiciendis Totam Saepe</h6></a>
                                    <span>photography</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Filter row ends -->
    </div>
</section>