<section class="home-services">
    <div class="container">
        <!-- section title -->
        <div class="row justify-content-md-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="section-title title-ex1 text-center">
                    <h2 class="title-text">Our Services</h2>
                    <p class="description">Inventore cillum soluta inceptos eos platea, soluta class laoreet repellendus imperdiet optio.</p>
                </div>
            </div>
        </div>
        <!-- section title ends -->
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <!-- single info block -->
                <div class="info text-center info-boxed">
                    <div class="icon icon-circle">
                        <i class="icon-bulb" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Creative Design</h5>
                        <p class="description">Nonummy augue culpa aenean inceptos sapiente justo alias quod nonummy veritatis impedit! Sit minim nibh mollis.</p>
                        <a href="service-details-left-sidebar.html">Read More</a>
                    </div>
                </div>
                <!-- single info block ends -->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- single info block -->
                <div class="info text-center info-boxed">
                    <div class="icon icon-circle">
                        <i class="icon-key" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Safe Information</h5>
                        <p class="description">Nonummy augue culpa aenean inceptos sapiente justo alias quod nonummy veritatis impedit! Sit minim nibh mollis.</p>
                        <a href="service-details-right-sidebar.html">Read More</a>
                    </div>
                </div>
                <!-- single info block ends -->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- single info block -->
                <div class="info text-center info-boxed">
                    <div class="icon icon-circle">
                        <i class="icon-pencil" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">UI/UX Design</h5>
                        <p class="description">Nonummy augue culpa aenean inceptos sapiente justo alias quod nonummy veritatis impedit! Sit minim nibh mollis.</p>
                        <a href="service-details-fullwidth.html">Read More</a>
                    </div>
                </div>
                <!-- single info block ends -->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- single info block -->
                <div class="info text-center info-boxed">
                    <div class="icon icon-circle">
                        <i class="icon-support" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Premium Support</h5>
                        <p class="description">Nonummy augue culpa aenean inceptos sapiente justo alias quod nonummy veritatis impedit! Sit minim nibh mollis.</p>
                        <a href="service-details-left-sidebar.html">Read More</a>
                    </div>
                </div>
                <!-- single info block ends -->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- single info block -->
                <div class="info text-center info-boxed">
                    <div class="icon icon-circle">
                        <i class="icon-screen-desktop" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Brand & Identity</h5>
                        <p class="description">Nonummy augue culpa aenean inceptos sapiente justo alias quod nonummy veritatis impedit! Sit minim nibh mollis.</p>
                        <a href="service-details-right-sidebar.html">Read More</a>
                    </div>
                </div>
                <!-- single info block ends -->
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- single info block -->
                <div class="info text-center info-boxed">
                    <div class="icon icon-circle">
                        <i class="icon-camrecorder" aria-hidden="true"></i>
                    </div>
                    <div class="description">
                        <h5 class="info-title">Graphic Design</h5>
                        <p class="description">Nonummy augue culpa aenean inceptos sapiente justo alias quod nonummy veritatis impedit! Sit minim nibh mollis.</p>
                        <a href="service-details-fullwidth.html">Read More</a>
                    </div>
                </div>
                <!-- single info block ends -->
            </div>
        </div>
    </div>
</section>