<section class="about-more">
    <div class="container">
        <div class="row">
            <div class="col-md-6 skill">
                <div class="row">
                    <div class="col-md-11">
                        <div class="section-title title-ex1">
                            <h2 class="title-text">Our skills</h2>
                            <p class="description">Inventore cillum soluta inceptos eos platea, soluta class laoreet repellendus imperdiet optio.</p>
                        </div>
                    </div>
                </div>
                <!-- progressbar starts -->
                <div class="progress-holder">
                    <div class="barWrapper">
                        <span class="progressText"><B>Javascript</B></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            <span class="popOver" data-toggle="tooltip" data-placement="top" title="80%"> </span>
                        </div>
                    </div>
                    <div class="barWrapper">
                        <span class="progressText"><B>Photoshop</B></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            <span class="popOver" data-toggle="tooltip" data-placement="top" title="95%"> </span>
                        </div>
                    </div>
                    <div class="barWrapper">
                        <span class="progressText"><B>Web Design</B></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            <span class="popOver" data-toggle="tooltip" data-placement="top" title="85%"> </span>
                        </div>
                    </div>
                    <div class="barWrapper">
                        <span class="progressText"><B>Wordpress</B></span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            <span class="popOver" data-toggle="tooltip" data-placement="top" title="75%"> </span>
                        </div>
                    </div>
                </div>
                <!-- progressbar ends -->
            </div>
            <div class="col-md-6 faq">
                <div class="row">
                    <div class="col-md-11">
                        <div class="section-title title-ex1">
                            <h2 class="title-text">FAQ</h2>
                            <p class="description">Inventore cillum soluta inceptos eos platea, soluta class laoreet repellendus imperdiet optio.</p>
                        </div>
                    </div>
                </div>
                <!-- collapse starts-->
                <div id="accordion" class="th-accordions" data-children=".item">
                    <div class="item">
                        <a data-toggle="collapse" class="collapse-bar" data-parent="#accordion" href="#accordion1" aria-expanded="true" aria-controls="accordion1">
                    <i class="fa fa-database" aria-hidden="true"></i> Meet Our Team
                </a>
                        <div id="accordion1" class="collapse show tab-pane" role="tabpanel">
                            <p class="">
                                Quisque velit nisi, pretium ut lacinia in, elementum id enim Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta Pellentesque in ipsum.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <a data-toggle="collapse" class="collapse-bar" data-parent="#accordion" href="#accordion2" aria-expanded="false" aria-controls="accordion2">
                    <i class="fa fa-desktop" aria-hidden="true"></i> Fully Responsive
                </a>
                        <div id="accordion2" class="collapse tab-pane" role="tabpanel">
                            <p class="">
                                Quisque velit nisi, pretium ut lacinia in, elementum id enim Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta Pellentesque in ipsum.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <a data-toggle="collapse" class="collapse-bar" data-parent="#accordion" href="#accordion3" aria-expanded="false" aria-controls="accordion3">
                     <i class="fa fa-empire" aria-hidden="true"></i> Top Notch Design
                </a>
                        <div id="accordion3" class="collapse tab-pane" role="tabpanel">
                            <p class="">
                                Quisque velit nisi, pretium ut lacinia in, elementum id enim Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta Pellentesque in ipsum.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <a data-toggle="collapse" class="collapse-bar" data-parent="#accordion" href="#accordion4" aria-expanded="false" aria-controls="accordion4">
                    <i class="fa fa-life-ring" aria-hidden="true"></i> 24/7 Friendly Support
                </a>
                        <div id="accordion4" class="collapse tab-pane" role="tabpanel">
                            <p class="">
                                Quisque velit nisi, pretium ut lacinia in, elementum id enim Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta Pellentesque in ipsum.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- collapse ends -->
            </div>
        </div>
    </div>
</section>