<section class="home-team">
    <div class="container">
        <!-- section title -->
        <div class="row justify-content-md-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="section-title text-center title-ex1">
                    <h2>Meet Our Team</h2>
                    <p>Inventore cillum soluta inceptos eos platea, soluta class laoreet repellendus imperdiet optio.</p>
                </div>
            </div>
        </div>
        <!-- section title ends -->
        <div id="card" class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card team-card">
                    <div class="card_img">
                        <img class="img-full" src="front/img/about/team1.jpg" alt="Card image">
                        <div class="hover-overlay effect-scale">
                            <div class="overlay-content">
                                <a href="#" class="icon icon-circle"><i class="fa fa-facebook-f"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <a href="page-member-details.html"><h6 class="card-title">Parsley Montana</h6></a>
                        <span class="">UI/UX Designer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card team-card">
                    <div class="card_img">
                        <img class="card-img-top img-full" src="front/img/about/team2.jpg" alt="Card image">
                        <div class="hover-overlay effect-scale">
                            <div class="overlay-content">
                                <a href="#" class="icon icon-circle"><i class="fa fa-facebook-f"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <a href="page-member-details.html"><h6 class="card-title">Fleece Marigold</h6></a>
                        <span class="">Web Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card team-card">
                    <div class="card_img">
                        <img class="img-full" src="front/img/about/team3.jpg" alt="Card image">
                        <div class="hover-overlay effect-scale">
                            <div class="overlay-content">
                                <a href="#" class="icon icon-circle"><i class="fa fa-facebook-f"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <a href="page-member-details.html"><h6 class="card-title">Dylan Meringue</h6></a>
                        <span class="">Co Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card team-card">
                    <div class="card_img">
                        <img class="img-full" src="front/img/about/team4.jpg" alt="Card image">
                        <div class="hover-overlay effect-scale">
                            <div class="overlay-content">
                                <a href="#" class="icon icon-circle"><i class="fa fa-facebook-f"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <a href="page-member-details.html"><h6 class="card-title">Bodrum Salvador</h6></a>
                        <span class="">Marketing</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card team-card">
                    <div class="card_img">
                        <img class="img-full" src="front/img/about/team5.jpg" alt="Card image">
                        <div class="hover-overlay effect-scale">
                            <div class="overlay-content">
                                <a href="#" class="icon icon-circle"><i class="fa fa-facebook-f"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <a href="page-member-details.html"><h6 class="card-title">Dylan Meringue</h6></a>
                        <span class="">Co Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card team-card">
                    <div class="card_img">
                        <img class="img-full" src="front/img/about/team6.jpg" alt="Card image">
                        <div class="hover-overlay effect-scale">
                            <div class="overlay-content">
                                <a href="#" class="icon icon-circle"><i class="fa fa-facebook-f"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="icon icon-circle"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <a href="page-member-details.html"><h6 class="card-title">Bodrum Salvador</h6></a>
                        <span class="">Marketing</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>