<div class="home-testimonial  testimonial2 bg-image" style="background-image: url('front/img/bg-testimonial2.jpg'); ">
    <div class="container">
        <div id="home-testimonial" class="kit-testimonial-carousel">
            <div class="item row flex-md-row-reverse justify-content-between">
                <div class="text-center text-md-right right-column col-md-4">
                    <img src="front/img/client2.png" alt="testimonial image">
                </div>
                <!-- Right column -->
                <div class="left-column col-md-8">
                    <div class="card ">
                        <div class="card-block">
                            <i class="fa fa-quote-right"></i>
                            <p class="pr-4">Hic enim sapien quo eros elit pede laoreet, nec viverra, natus class, quasi magni, in eveniet neque curae eleifend esse ab eget! Malesuada aliquid, hendrerit porta facilisis accusantium repudiandae cubilia lacus modi accusantium aenean tempus doloribus! Proin libero eius fugiat odio selerisque.</p>
                            <h4 class="">Wisteria Ravenclaw</h4>
                            <span class="">Founder</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item row flex-md-row-reverse justify-content-between">
                <div class="text-center text-md-right right-column col-md-4">
                    <img src="front/img/client2.png" alt="testimonial image">
                </div>
                <!-- Right column -->
                <div class="left-column col-md-8">
                    <div class="card ">
                        <div class="card-block">
                            <i class="fa fa-quote-right"></i>
                            <p class="pr-4">Hic enim sapien quo eros elit pede laoreet, nec viverra, natus class, quasi magni, in eveniet neque curae eleifend esse ab eget! Malesuada aliquid, hendrerit porta facilisis accusantium repudiandae cubilia lacus modi accusantium aenean tempus doloribus! Proin libero eius fugiat odio selerisque.</p>
                            <h4 class="">Wisteria Ravenclaw</h4>
                            <span class="">Founder</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item row flex-md-row-reverse justify-content-between">
                <div class="text-center text-md-right right-column col-md-4">
                    <img src="front/img/client2.png" alt="testimonial image">
                </div>
                <!-- Right column -->
                <div class="left-column col-md-8">
                    <div class="card ">
                        <div class="card-block">
                            <i class="fa fa-quote-right"></i>
                            <p class="pr-4">Hic enim sapien quo eros elit pede laoreet, nec viverra, natus class, quasi magni, in eveniet neque curae eleifend esse ab eget! Malesuada aliquid, hendrerit porta facilisis accusantium repudiandae cubilia lacus modi accusantium aenean tempus doloribus! Proin libero eius fugiat odio selerisque.</p>
                            <h4 class="">Wisteria Ravenclaw</h4>
                            <span class="">Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>