<!-- BREADCRUMB -->
<div class="bredcrumb bg-image text-center" style="background-image: url('front/img/bredcrumb.jpg');">
    <div class="row bredcrumb-inner">
        <div class="col-sm-12  align-self-center">
            <h2><%- title %></h2>
            <ul class="">
                <li><a href="/" class="bread_link">Home</a></li>
                <li><%- title %></li>
            </ul>
        </div>
    </div>
</div>